{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["react", "prettier", "import"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", "jsx"]
      }
    ],
    "prettier/prettier": "warn",
    "max-len": ["warn", 80],
    "no-unused-vars": "warn",
    "import/named": 0,
    "no-shadow": 0
  },
  "env": {
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./config/webpack-common-config.js"
      },
      "node": {
        "paths": ["src"]
      }
    }
  }
}
