.contactTable{
    width: 100%;
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
.contactTable thead{
    border-bottom: 1px solid #dddddd;
    border-collapse: collapse;
}
.contactTable tr{
    background: #fff;
}
.contactTable tr>td:first-child{
    font-weight: bold;
}
.contactTable td{
    text-align: center;
    padding: 15px 0;
}
.contactTable tbody>tr:nth-child(2n){
    background: #f9f9f9;
}
.contactTable td .editImg{
    opacity: .5;
}
.contactTable td .editImg:hover{
    opacity: 1;
    cursor: pointer;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(0,0,0,0.4);
    fill: rgba(0,0,0,0.4);
    transition: color,fill .5s;
    cursor: pointer;
}
.topicIcon{
    width: 20px;
    height: 20px;
    margin-right: 10px;

}
.details:hover{
    color: rgba(0,0,0,1);
    fill: rgba(0,0,0,1);
    transition: .5s all;
}